In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('/Users/jowookjae/Downloads/chart.db')
query = "SELECT * FROM chart;"

chart = pd.read_sql_query(query, conn)
chart

,date,code,open,high,low,close,cap,vol,val,shares
0,2000-01-04,000020,2663,3116,2663,3116,86200092000,169430,2699165500,5224248
1,2000-01-05,000020,3173,3579,2946,3305,91424340000,728760,13149097500,5224248
2,2000-01-06,000020,3305,3475,2814,2871,79408569600,260640,4173941000,5224248
3,2000-01-07,000020,2984,3296,2833,3296,91519648550,453080,7561695500,5244679
4,2000-01-10,000020,3645,3702,3163,3211,89159543000,752880,13797058000,5244679
...,...,...,...,...,...,...,...,...,...,...
9235770,2023-03-29,950220,3300,3300,3190,3210,317236162650,316996,1020394660,98827465
9235771,2023-03-30,950220,3215,3365,3180,3285,324648222525,407825,1338380400,98827465
9235772,2023-03-31,950220,3270,3295,3215,3245,320695123925,277863,902331175,98827465
9235773,2023-04-03,950220,3245,3270,3215,3235,319706849275,318995,1032770480,98827465
9235774,2023-04-04,950220,3210,3400,3210,3400,336013381000,685661,2278057245,98827465

In [29]:
# todo
chart["val/cap"] = chart["val"] / chart["cap"]

for v in [1, 5, 10, 30]:
    chart[f"val/cap_{v}"] = chart.groupby("code")["val/cap"].rolling(window=v).sum().reset_index(drop=True)

for v in [1, 5, 10, 30]:
    post_close = chart.groupby("code")["close"].shift(-v)
    chart[f"{v}_change"] = (post_close - chart['close']) / chart['close']

In [46]:
chart["val/cap_5"].corr(chart["30_change"])

-0.016433493559850652